user-frontend/node_modules/
user-frontend/package-lock.json
user-frontend/.env

user-backend/node_modules/
user-backend/package-lock.json
user-backend/.env

admin-frontend/node_modules/
admin-frontend/package-lock.json
admin-frontend/.env

admin-backend/node_modules/
admin-backend/package-lock.json
admin-backend/.env
